@import 'src/shared/styles/variables.module.scss';
@import 'src/shared/styles/mixins.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 96px;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title,
    .subTitle {
      font-family: 'Times New Roman', Times, serif;
      color: $blackLight;
      text-align: center;
    }

    .title {
      font-size: 3.125rem;
    }

    .subTitle {
      font-size: 2.125rem;

      .selection {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
      }
    }
  }

  .navigationTabs {
    .tab {
      @include tab;

      position: relative;
      font-size: 0.813rem;
      font-weight: 700;
      color: $gray;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .wrapper {
    .navigationTabs {
      .tab {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: $darkGray;
          display: none;
        }
      }

      .selected {
        &::after {
          content: '';
          display: block;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .wrapper {
    gap: 10px;
    padding-top: 0;

    .images {
      padding-top: 45px;
    }
  }
}
