$black: #000000;
$blackDark: #212529;
$blackLight: #353537;
$blackFooter: #303030;
$turquoise: #17BFBF;
$gray: #6E6E6E;
$darkGray: #4B4A4A;
$lightGray: #8C8C8C;
$white: #FFFF;
$borderGray: #5A5A5A;
$menuGray: #F5F5F5;
$red: #D7403A;

:export {
  black: #000000;
  blackLight: #353537;
  blackDark: #212529;
  turquoise: #17BFBF;
  gray: #6E6E6E;
  darkGray: #4B4A4A;
  blackFooter: #303030;
  lightGray: #8C8C8C;
  white: #FFFF;
  borderGray: #5A5A5A;
  menuGray: #F5F5F5;
  red: #D7403A;
}